body {
  font: 12px "Helvetica", "Arial", sans-serif;
  margin: 0px
}
a {
  color: white;
  font-style: normal;
  text-decoration: none;
}
h1{
	font-size: 30px;
	font-style: normal;
}
h2{
	float: left;
	font-size: 28px;
	margin: 0
}
.tomar{
	color: #212121;
	background-color: red
}

.idCustomer{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.home{
	background-color: #efefef;
	padding-bottom: 300px
}
.contenedor
{
	background-color: #3F51B5;
	margin: 0px;
	padding: 10px 35px;
}
.home .row{
	width: 50%;
    margin-left: 25%;
	margin-top:  60px;
}
.home a{
	width: 230px;
	color: #212121;
	cursor:pointer;
	margin: 60px 45px 30px;
}
.home a p{
	color: #fbb028;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.home a img:hover{
	border: 5px solid;
	border-radius: 60%;
	border-color: #fbb028;
}
.logoIndex{
	margin-top: 35px;
}
.contenedor2
{
	background-color: #303F9F;
	height: 20px;
	margin: 0px
}
.contenedorForm h1 a{
	color: #303F9F;
}
.guardar{
	margin-top: 20px;
	margin-bottom: 20px;
}
.contenedorForm {
	width: 550px;
}
.item
{
	float: left;
	text-align: center;
	background-color: #C5CAE9;
	border-radius: 4px;
	margin: 20px;
	padding: 15px 20px;
}
.f1{
	float: left;
}

.myButton {
	background-color:#607D8B;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Helvetica;
	font-size:12px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	margin-left: 10px;
}
.myButton:hover {
	background-color:#fbb028;
}
.myButton:active {
	position:relative;
	top:1px;
}
.agregar label{
	color: #212121;
	font-size: 16px;
	margin-left: 25px;
}
.agregar input{
	margin-left: 10px;
}
.logoIndex{
	width: 280px;
}
.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
	text-align: center;
}
thead{
	background-color:#303F9F;
	color: #ffffff;
	font-size: 16px;
}
thead th{
	padding: 5px 80px;
}
tbody th{
	border-bottom: 1px solid #C5CAE9;
	border-bottom-style:dotted;
	padding: 10px;
	background-color: #ffffff;
}
.imprime{
	background-color: #FFC107;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#757575;
	font-family:Helvetica;
	font-size:12px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	margin-left: 10px;
}
.sr-only{
	margin: 10px 15px;
}