extends layout

block content
    
	div
		- for(var i = 0; i < customers.length; ++i){

			div.item
				h2 #{customers[i].cedula}
				br
				small Pr: #{customers[i].tipoVentanilla}
				small Pr: #{customers[i].ficha} 
				div.myButton
					a(href="compra?id=#{customers[i]._id}") Comprar
		-}