extends layout

block content
    
	div.contenedor2
	div.contenedor
		h1
			a(href="/")=titulo
		div.myButton
			a(href="tienda") Tienda
		div
			- for(var i = 0; i < librerias.length; ++i){

				div.item
					h2 #{librerias[i].nombre}
					img(src="img/"+librerias[i].imagen, style="width:200px; height:200px", alt=librerias[i].descripcion)
					br
					h2 Precio: #{librerias[i].precio} colones.
			-}