doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/font-awesome.min')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  
  body
    div.contenedor2
    div.contenedor
      button.myButton
          a(href="newTicket") Agregar Ficha
      button.myButton
          a(href="customers") Todos los Cliente
      button.myButton
          a(href="cashiers") Cajeros
      button.myButton
          a(href="takeTicket") Lista de fichas Antendiendo
      button.myButton
          a(href="report") reporte
      button.myButton
          a(href="report2") reporte2
      button.myButton
          a(href="report3") reporte3
      button.myButton
          a(href="reportCountCoustemers") reporte4
      button.myButton
          a(href="reportCountWindows") reporte5

    block content
