 div.contenedor
      button.myButton
          a(href="newTicket") Agregar
      button.myButton
          a(href="customers") Todos los Cliente
      button.myButton
          a(href="cashiers") Cajeros
      button.myButton
          a(href="takeTicket") Lista de fichas Antendiendo
      button.myButton
          a(href="report") reporte
      button.myButton
          a(href="report2") reporte2
      button.myButton
          a(href="report3") reporte3
      button.myButton
          a(href="reportCountCoustemers") reporte4
      button.myButton
          a(href="reportCountWindows") reporte5