extends layout

block content
    
	div.contenedor2
	div.contenedor
		h1
			a(href="/") Agregar
		div.myButton
			a(href="tienda") Tienda
		form.agregar(name="agregarItem", action="/newFile", method="post")
				label Cedula
				input(type="numer", name="cedula")

				label Tipo de Caja

				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='cajas', name='tipoVentanilla')
				span cajas
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='plataforma', name='tipoVentanilla')
				span plataforma
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='credito', name='tipoVentanilla')
				span Crédito
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='marchamo', name='tipoVentanilla')
				span Marchamo
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='preferenciales', name='tipoVentanilla')
				span preferenciales

				button.myButton(type="submit", value="Guardar") Gardar