extends layout

block content
    
	div.contenedor2
	div.contenedorForm.center
		h1
			a(href="/") Agregar
		form.agregar(name="agregarItem", action="/newTicket", method="post")
				label Cedula
				input(type="numer", name="cedula")

				h3 Tipo de Caja

				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='cajas', name='tipoVentanilla')
				span cajas
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='plataforma', name='tipoVentanilla')
				span plataforma
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='credito', name='tipoVentanilla')
				span Crédito
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='marchamo', name='tipoVentanilla')
				span Marchamo
				label.radio-inline
					input(type='radio', class='radioSpans', id='confidence1', value='preferenciales', name='tipoVentanilla')
				span preferenciales

				button.myButton.guardar.center(type="submit", value="Guardar") Guardar